@font-face {
  font-family: Brown-Light;
  src: url(Fonts/Dosis-VariableFont_wght.ttf);
}
/* .dark{
  height: auto;
  color:white;
  font-family: Brown-Light;
  letter-spacing: 1.15px;
  background-image: url(Images/pexels-daniel-reche-3721941.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */
body{
  margin:0;
  padding:0;
}
#home{
  height: auto;
  font-family: Brown-Light;
  letter-spacing: 1.15px;
  background-image: url(Images/pexels-moose-photos-1037992.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* overflow-x: hidden; */
}
ul.main-nav {
  display:-webkit-flex;
  display:flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.7);
  /* background-color: #333; */
}
.topnav ul li a{
  text-decoration: none;
  transition-duration: 0.25s;
  font-weight: 500;
  color:black;
}
.topnav ul li.right a:hover{
  color:#f76ead;
  font-weight: 700;
  /* color:white;
  background-color:#e98099; */
}
.topnav ul li.left a:hover{
  /* color:white; */
  color:black;
}
li.left 
{
    margin-right: auto;
    font-size: 1.7em;
}


li.right 
{
  padding-top:7px;
  font-size: 1.1em;
}

ul img{
  height:8vh;
  padding:10px 0 0 7px;
}
.links-main {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#override{
  display: flex;
  justify-content: center;
  padding-top: 11vh;
}
#rightgrid{
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}
.playstore{
  height:20vh;
  float:left;
}
.info-para p{
  width:35vw;
  font-weight: 600;
  letter-spacing: 1.15px;
  font-size: 1.6em;
  color:#242424;
}
@media only screen and (min-width: 770px){
  
  #rightgrid{
    padding-left: 65vw;
  }
  #home{
    height: 100vh;
  }
  .intro img{
    height:60vh;
  }
}
@media only screen and (max-width: 769px){
  .playstore{
    height: 15vh;
  }
  #rightgrid{
    padding-top:0;
  }
  .info-para p{
    text-align: center;
    width:85vw;
  }
  .intro img{
    height:50vh;
  }
  .slideshow-img{
    height: 45vh;
    display: flex;
    justify-content: center;
    /* padding-left:10vw; */
  }
}
@media only screen and (max-height: 700px){
  /* .intro img {
    padding-left: 10vw;
} */
}
@media only screen and (max-width: 470px){
  .slideshow-img{
    display: flex;
    height: 40vh;
    justify-content: center;
    padding-left:0;
  }
  .playstore{
    height: 13vh;
  }
  .intro img{
    height:35vh;
    padding-left: 10vw;
  }
  li.left{
    font-size: 1.1em;
    padding-top:3px;
  }
  li.right{
    padding-top:2px;
  }
  ul img{
    height:6vh;
    padding:10px 0 0 7px;
  }
}
/* @media only screen and (max-width: 380px){
  .intro img{
    padding-left: 10;
  }
} */
@media only screen and (min-width: 500px) and (max-width: 700px) and (max-height: 760px){
  .intro img{
    padding-left: 10vw;
  }
}
@media only screen and (max-width: 380px){
  li.right{
    font-size:1em;
  }
   .intro img {
    padding-left: 0%;
    height:30vh;
  } 
  ul.main-nav {
    display:-webkit-flex;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    /* background-color: #333; */
  }
}
/* SLIDESHOW */
/* .intro img{
  height:50vh;
}
.intro{
  height:50vh;
  position: relative;
}
.slideshow-img{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit: cover;
   display:block; 
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.slideshow-img:first-child{
  display: block;
} */
.intro {
  height: 60vh;
  position: relative;
}
.slideshow-img{
  border-radius: 2%;
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.75s ease-in-out; 
}
/* .slideshow img:first-child{
  display: block;
} */
#override{
  flex:0 0 0%;
}
.downloadplay{
  display: flex;
  justify-content: center;
}

/* FOOTER */

#foot{
  /* height:20vh; */
  font-family: Brown-Light;
  letter-spacing: 1.1px;
  /* background-color: #fc7da7; */
  background-color: rgb(242, 242, 242);
  width:100vw;
  display: block;
  overflow: hidden;
  padding:70px 0;
  box-sizing: border-box;
}
.inner_footer{
  display: block;
  margin: 0 auto;
  width:1100px;
  height: 100%;
}
.inner_footer .logo_container{
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}
.inner_footer .logo_container img{
  width: 25%;
  height: auto;
}
.inner_footer .footer_third{
  width: calc(21.6666666666667% - 20px);
  margin-right: 10px;
  float: left;
  height:100%;
}
.inner_footer .footer_third:last-child{
  margin-right: 0;
}
.inner_footer .footer_third h1{
  font-weight: 500;
  font-size: 22px;
  color:#242424;
  display: block;
  width:100%;
  margin-bottom: 20px;
}
.inner_footer .footer_third li{
  list-style-type: none;
  font-weight: 500;
  display: inline-block;
  padding: 0;
  font-size: 20px;
}

.inner_footer .footer_third a{
  font-size: 18px;
  color:#242424;
  display: block;
  width:100%;
  font-weight: 200;
  padding-bottom: 5px;
}
@media(max-width:800px){
  #foot{
    text-align: center;
  }
  #foot .inner_footer{
    width:90%;
  }
  .inner_footer .logo_container,
  .inner_footer .footer_third{
    width:100%; margin-bottom: 30px;
  }
}

/******************************************************** ABOUT CSS ****************************************************/

#about{
  min-height: 100vh;
  font-family: Brown-Light;
  letter-spacing: 1.15px;
  /* background-position: center; */
}
ul#op{
  background-color: rgba(255, 255, 255, 0.4);
}
nav#bg-pic{
  background-image: url(Images/pexels-moose-photos-1037992.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/******************************************************** FAQ CSS ****************************************************/

#FAQ{
  height: auto;
  font-family: Brown-Light;
  letter-spacing: 1.15px;
  /* background-position: center; */
}
nav#bg-pic{
  background-image: url(Images/pexels-moose-photos-1037992.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
ul#op{
  background-color: rgba(255, 255, 255, 0.4);
}

.container1{
  background-color: #fff;
  color:#666;
  min-height: 100vh;
  margin: 0 auto;
  padding:4rem;
  width:50vw;
}

h2{
  font-size: 1.75rem;
  color:#333366;
  padding:1.4rem;
}

.accordion1 a{
  position: relative;
  display: flex;
  flex-direction: column;
  width:100%;
  padding: 1rem 3rem 1rem 1rem !important;
  color:#7288A2;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #DDD;
  text-decoration: none;
}
.accordion1 a.active{
  color: #03b5d2;
  border-bottom: 1px solid #03b5d2;
}
.accordion1 a:hover, .accordion1 a:hover::after{cursor: pointer;color: #03b5d2;}


.accordion1 a::after{
  font-family: "Font Awesome 5 Free";
  content:'\f358';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1.5rem;
  color:#03b5d2;
}

.accordion1 .content1 p {
  font-size: 1rem;
  font-weight: 300;
}
.accordion1 .content1{
  opacity: 0;
  max-height: 0;
  padding : 0 1rem;
  border-bottom:1px solid #DDD;
  overflow: hidden;
  transform: all .3s ease;
}
.accordion1 .content1.active{
  opacity: 1;
  max-height: 100%;
  padding:1rem;
  transition: all .3s ease;
}
@media only screen and (max-width: 769px){
  .container1{
    width:36rem;
  }
}
@media only screen and (max-width: 500px){
  .container1{
    width:20rem;
    padding-left:0;
    padding-right: 0;
    overflow-x: hidden;
  }
}



/******************************************************** Privacy  CSS ****************************************************/

#PP{
  min-height: 100vh;
  font-family: Brown-Light;
  letter-spacing: 1.15px;
  /* background-position: center; */
}
ul#op{
  background-color: rgba(255, 255, 255, 0.4);
}
nav#bg-pic{
  background-image: url(Images/pexels-moose-photos-1037992.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.privacy{
  margin:10vh auto 10vh auto;
  width:80vw;
  display: flex;flex-direction: column;
  align-items: center;
  justify-content: center;
}
#TAC h3{
  padding:2vh 0 5vh 0;
}
.privacy h3{
  padding:2vh 0 5vh 0;
}

#TAC{
  margin:15vh auto 15vh auto;
  width:80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}